@{
    ViewBag.Title = "Home Page";
}

@*<input type="text" id="msg" />        
<input type="button" id="sendButton" value="Chat" />      
<ul id="messages"></ul>*@
<hr />

<input type="button" id="bookButton" value="Book flight" />      
<br />  
<b>Status:</b>&nbsp;&nbsp;&nbsp;<span id="msg"></span>

<hr />

<input type="button" id="percButton" value="Process pending emails" />    
<div id="bar" style="border: #000 1px solid; width:300px;"></div>
